

  .main-container {
    background-color: #f4f7f6;
    /* margin-top:20px; */
    display: flex;
    flex-direction: row;
    padding: 100px;
    width: 80%;
    margin-left: auto;
  }
  
  @media (max-width: 1170px ) {
    .main-container {
      width: 100%; /* Full width */
      margin-left: unset; /* Remove left margin */
    }
  }


  .content-wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: flex-start; /* Align items to the top */
  }
  



   /* Conversation.css */
.conversation-item {
    padding: 10px;
    border-bottom: 1px solid #e0e0e0;
    transition: background-color 0.3s;
}

.conversation-item:hover {
    background-color: #f3f2f2; /* Sky blue background on hover */
}
.conversation-item.selected {
    /* padding: 8px; */
    background-color: #f1efef; /* Blue background for selected item */
    color: white; /* White text color for selected item */
  }
  
  



  
  
  .ripple:active {
    transform: scale(0.85); /* Slightly scales down the button */
  }
